@tailwind base;
@tailwind components;
@tailwind utilities;

/* 後ほど変更 */
img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin: 10px auto;
}
/* 960px以上に適用されるCSS（PC用） */
@media screen and (min-width: 960px) {
  img {
    height: 100%;
  }
}
